form {
    width: 40%;
    margin: 0 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
}

.navbar__left {
    display: flex;
    align-items: center;
}

.navbar__menuLeft {
    font-size: 24px !important;
}

.navbar__logoLeft {
    height: 18px;
    object-fit: contain;
    margin-left: 25px;
}

.navbar__input {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 10px;
    border: 1px solid #e0e0e0;
}

.navbar__input > input {
    flex: 1;
    width: 100%;
    outline-style: none;
    padding: 6.5px 10px;
    border: none;
    border-right: 1px solid lightgray;
    font-size: 15px;
}

.navbar__inputButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px !important;
    font-size: 20px !important;
    color: gray;
    cursor: pointer;
    border: none;
    background: #fff;
    outline-style: none;
}

.navbar__icons {
    display: flex;
    align-items: center;
}

.navbar__icon {
    margin-right: 25px;
    font-size: 25px !important;
}

.navbar__avatar {
    height: 32px !important;
    width: 32px !important;
    margin-right: 10px
}