.noVideo, .videoDetail {
    padding: 25px 15px 25px 25px;
}

.videoDetail__player {
    padding-right: 10px;
    padding-bottom: 15px;
    width: 100%;
    height: auto;
}

.videoDetail__player > iframe {
    width: 100%;
    min-height: 65vh;
    border: none;
}

.videoDetail__info {
    width: 100%;
    padding-right: 5px;
}

.videoDetail__info  h2 {
    font-weight: normal;
    padding-bottom: 20px;
}

.videoDetail__info  h3 {
    padding: 20px 0 25px 0;
    border-top: 1px solid lightgray;
}

.videoDetail__info  h4 {
    padding: 20px 0;    
    border-bottom: 1px solid lightgray;
}